.link{
    text-align: center;   
}
h2{
    color: orange;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}
p{
    color: black;
}
.words{
    color: black;
}
h1{
    color: black;
}